body {
    margin: 0;
}
rect {
	fill:grey; 
}
.x-axis, .y-axis {
	font-size:0.8em; 
	font-family:Arial; 
	text-anchor:end; 
}
.x-axis path, .y-axis path { 
	stroke:black; 
}
.x-axis .tick, .y-axis .tick {
	opacity:1 //0-1
}
.x-axis .tick line {
	stroke:black; //#050505
}
.y-axis .tick line {
	stroke: #fff; 
	stroke-dasharray: 2,2
}
.label{ 
	display:none; 
	fill:#fff;
	font-family:Arial
}
.yLegend, .xLegend{
	font-size:1.5em;
	font-family:Garamond,roman;
	fill:orange;
	display:visible;
}


